trunk/Goose/WebRoot/WEB-INF/wsdl/GooseWebServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webService.scau.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GooseWebServiceImplService" targetNamespace="http://impl.webService.scau.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.webService.scau.com/" schemaLocation="GooseWebServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="authenticate">
    <part element="tns:authenticate" name="parameters"/>
  </message>
  <message name="authenticateResponse">
    <part element="tns:authenticateResponse" name="parameters"/>
  </message>
  <message name="login">
    <part element="tns:login" name="parameters"/>
  </message>
  <message name="loginResponse">
    <part element="tns:loginResponse" name="parameters"/>
  </message>
  <message name="getFarmList">
    <part element="tns:getFarmList" name="parameters"/>
  </message>
  <message name="getFarmListResponse">
    <part element="tns:getFarmListResponse" name="parameters"/>
  </message>
  <message name="getRetailerList">
    <part element="tns:getRetailerList" name="parameters"/>
  </message>
  <message name="getRetailerListResponse">
    <part element="tns:getRetailerListResponse" name="parameters"/>
  </message>
  <message name="addReceiveGoose">
    <part element="tns:addReceiveGoose" name="parameters"/>
  </message>
  <message name="addReceiveGooseResponse">
    <part element="tns:addReceiveGooseResponse" name="parameters"/>
  </message>
  <message name="addTradeGoose">
    <part element="tns:addTradeGoose" name="parameters"/>
  </message>
  <message name="addTradeGooseResponse">
    <part element="tns:addTradeGooseResponse" name="parameters"/>
  </message>
  <message name="addSaleGoose">
    <part element="tns:addSaleGoose" name="parameters"/>
  </message>
  <message name="addSaleGooseResponse">
    <part element="tns:addSaleGooseResponse" name="parameters"/>
  </message>
  <message name="setInvalid">
    <part element="tns:setInvalid" name="parameters"/>
  </message>
  <message name="setInvalidResponse">
    <part element="tns:setInvalidResponse" name="parameters"/>
  </message>
  <portType name="GooseWebServiceImplDelegate">
    <operation name="authenticate">
      <input message="tns:authenticate"/>
      <output message="tns:authenticateResponse"/>
    </operation>
    <operation name="login">
      <input message="tns:login"/>
      <output message="tns:loginResponse"/>
    </operation>
    <operation name="getFarmList">
      <input message="tns:getFarmList"/>
      <output message="tns:getFarmListResponse"/>
    </operation>
    <operation name="getRetailerList">
      <input message="tns:getRetailerList"/>
      <output message="tns:getRetailerListResponse"/>
    </operation>
    <operation name="addReceiveGoose">
      <input message="tns:addReceiveGoose"/>
      <output message="tns:addReceiveGooseResponse"/>
    </operation>
    <operation name="addTradeGoose">
      <input message="tns:addTradeGoose"/>
      <output message="tns:addTradeGooseResponse"/>
    </operation>
    <operation name="addSaleGoose">
      <input message="tns:addSaleGoose"/>
      <output message="tns:addSaleGooseResponse"/>
    </operation>
    <operation name="setInvalid">
      <input message="tns:setInvalid"/>
      <output message="tns:setInvalidResponse"/>
    </operation>
  </portType>
  <binding name="GooseWebServiceImplPortBinding" type="tns:GooseWebServiceImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="authenticate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFarmList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRetailerList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addReceiveGoose">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addTradeGoose">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addSaleGoose">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setInvalid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GooseWebServiceImplService">
    <port binding="tns:GooseWebServiceImplPortBinding" name="GooseWebServiceImplPort">
      <soap:address location="http://localhost:8080/Goose/GooseWebServiceImplPort"/>
    </port>
  </service>
</definitions>
