RFID/RFID销售认证/Project1/Web References/WebReference/GooseWebServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webService.scau.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GooseWebServiceImplService" targetNamespace="http://impl.webService.scau.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.18.92.84:8080/Goose/GooseWebServiceImplPort?xsd=1" namespace="http://impl.webService.scau.com/" />
    </xsd:schema>
  </types>
  <message name="authenticate">
    <part name="parameters" element="tns:authenticate" />
  </message>
  <message name="authenticateResponse">
    <part name="parameters" element="tns:authenticateResponse" />
  </message>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="getFarmList">
    <part name="parameters" element="tns:getFarmList" />
  </message>
  <message name="getFarmListResponse">
    <part name="parameters" element="tns:getFarmListResponse" />
  </message>
  <message name="getRetailerList">
    <part name="parameters" element="tns:getRetailerList" />
  </message>
  <message name="getRetailerListResponse">
    <part name="parameters" element="tns:getRetailerListResponse" />
  </message>
  <message name="addReceiveGoose">
    <part name="parameters" element="tns:addReceiveGoose" />
  </message>
  <message name="addReceiveGooseResponse">
    <part name="parameters" element="tns:addReceiveGooseResponse" />
  </message>
  <message name="addTradeGoose">
    <part name="parameters" element="tns:addTradeGoose" />
  </message>
  <message name="addTradeGooseResponse">
    <part name="parameters" element="tns:addTradeGooseResponse" />
  </message>
  <message name="addSaleGoose">
    <part name="parameters" element="tns:addSaleGoose" />
  </message>
  <message name="addSaleGooseResponse">
    <part name="parameters" element="tns:addSaleGooseResponse" />
  </message>
  <message name="setInvalid">
    <part name="parameters" element="tns:setInvalid" />
  </message>
  <message name="setInvalidResponse">
    <part name="parameters" element="tns:setInvalidResponse" />
  </message>
  <portType name="GooseWebServiceImplDelegate">
    <operation name="authenticate">
      <input message="tns:authenticate" />
      <output message="tns:authenticateResponse" />
    </operation>
    <operation name="login">
      <input message="tns:login" />
      <output message="tns:loginResponse" />
    </operation>
    <operation name="getFarmList">
      <input message="tns:getFarmList" />
      <output message="tns:getFarmListResponse" />
    </operation>
    <operation name="getRetailerList">
      <input message="tns:getRetailerList" />
      <output message="tns:getRetailerListResponse" />
    </operation>
    <operation name="addReceiveGoose">
      <input message="tns:addReceiveGoose" />
      <output message="tns:addReceiveGooseResponse" />
    </operation>
    <operation name="addTradeGoose">
      <input message="tns:addTradeGoose" />
      <output message="tns:addTradeGooseResponse" />
    </operation>
    <operation name="addSaleGoose">
      <input message="tns:addSaleGoose" />
      <output message="tns:addSaleGooseResponse" />
    </operation>
    <operation name="setInvalid">
      <input message="tns:setInvalid" />
      <output message="tns:setInvalidResponse" />
    </operation>
  </portType>
  <binding name="GooseWebServiceImplPortBinding" type="tns:GooseWebServiceImplDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="authenticate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getFarmList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRetailerList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addReceiveGoose">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addTradeGoose">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addSaleGoose">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setInvalid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GooseWebServiceImplService">
    <port name="GooseWebServiceImplPort" binding="tns:GooseWebServiceImplPortBinding">
      <soap:address location="http://172.18.92.84:8080/Goose/GooseWebServiceImplPort" />
    </port>
  </service>
</definitions>